.genreButton {
  width: "78.6px";
  height: "40.1px";
  borderradius: "20px";
  margin: "5px";
  backgroundcolor: "#E3DDD7";
  display: "flex";
  justifycontent: "center";
  alignitems: "center";
  cursor: "pointer";
}

.selectedGenreButton {
  width: "78.6px";
  height: "40.1px";
  borderradius: "20px";
  margin: "5px";
  backgroundcolor: "#9B8F8F";
  display: "flex";
  justifycontent: "center";
  alignitems: "center";
  cursor: "pointer";
}
